.banner__container {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 2.364em;
  line-height: 60.94px;
  color: rgba(255, 255, 255, 0.86);
  margin-bottom: 35px;
  text-align: center;
}

@media (max-width: 1024px) {
  .banner__title  {
    font-size: 1.818em;
    line-height: 47px;
    max-width: 780px;
  }
}

@media (max-width: 560px) {
  .banner__title  {
    font-size: 0.909em;
    line-height: 23px;
    max-width: 290px;
  }
}


.banner__subtitle {
  max-width: 960px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  line-height: 31px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 90px;
  text-align: center;
}

@media (max-width: 1024px) {
  .banner__subtitle  {
    font-size: 0.818em;
    line-height: 25px;
    max-width: 754px;
  }
}

@media (max-width: 560px) {
  .banner__subtitle  {
    font-size: 0.636em;
    line-height: 20px;
    max-width: 290px;
  }
}

.banner__button {
  background-color: #15A9CB;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  padding: 12px 48px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.909em;
  line-height: 23px;
  color: #FFFFFF;
}

@media (max-width: 560px) {
  .banner__button  {
    font-size: 0.727em;
    line-height: 19px;
    padding: 9px 29px;
  }
}