html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
  font-size: 22px;
  line-height: 30px;
  background-color: #fff;
  color: #282626;
  
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
ul,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
section {
  
  margin: 0 auto;
}

.container {
  max-width: 1260px; /* +60px от нужного размера */
  padding: 0 30px;
  margin: 0 auto;
}

label {
  cursor: pointer;
}

.top-wrapper {
  width: 100%;
  background-color: rgba(47, 50, 75, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-wrapper::after {
  content: "";
  background-image: url("../img/stag-office-mockup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: absolute;
  width: 100%;
  height: 750px;
  top: 0;
  z-index: -1;
}

@media (max-width: 660px) {
  .top-wrapper::after {
    background-position: left;
  }
}

@media (max-width: 660px) {
  .top-wrapper::after {
    height: 717px;
  }
}

.under__text {
  display: none;
}

@media (max-width: 480px) {
  .under__text {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2A2C3F;
    text-align: center;
    margin: 0 auto;
  }
}



