
.header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
}

.header__call {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.084em;
  line-height: 27.95px;
  
}

@media (max-width: 1024px) {
  .header__call {
    font-size: 0.955em;
    line-height: 25px;
  }
}

.header__button {
  display: flex;
  background: transparent;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  width: 132px;
  padding-top: 5px;
}

.header__button-small {
  display: none;
}

@media (max-width: 1024px) {
  .header__button {
    font-size: 0.591em;
    line-height: 15px;
    width: 108px;
    
  }
}

@media (max-width: 660px) {
  .header__button,
  .header__phone {
    display: none;
  }

  .header__button-small {
    display: inline;
  }
}